{% extends "auctions/layout.html" %}

{% block body %}
    <h2>Create Listing</h2>
    <form action="{% url 'createlisting' %}" method="post">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Title">
        <textarea type="text" class="form-control" name="description"></textarea>
        <input type="text" name="price" placeholder="Price">
        <input type="url" name="url" placeholder="Url of Photo">
        <select name="category" id="">
            {% for category in categories %}
                <option value="{{ category }}">{{ category }}</option>
            {% endfor %}
        </select>
        <button>Save!</button>
    </form>
{% endblock %}